doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../assets/css/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" )
    body 
        .box 
            .header-box
                .header 
                        .logo 
                            img(src="../assets/icon/cfMoto.png", alt="logo")
                        .navbar-box 
                            ul 
                                li 
                                    a(href="#") маршруты
                                li 
                                    a(href="#") галерея
                                li 
                                    a(href="#") вопрос-ответ
                                li 
                                    a(href="#") контакт
                                li 
                                    a(href="#") забронировать
                                li 
                                    .call 
                                        span 
                                            <i class="fa-solid fa-phone"></i>
                                            p +7 928 33 26 45
                                        input(type="submit" value="Перезваните мне")
                        
                .mashrut 
                    h1 Экскурсии на квадрациклах в Легенджике
                    p приезжайте за новыми ощущениями и эмоциями!
                    .btn 
                        a(href="#") Подробрать маршрут 
                        <i class="fa-solid fa-arrow-right"></i>

            .info
                .inMash 
                    .inLog 
                        img(src="../assets/icon/daraxt.png", alt="daraxt")
                        .scroll
                    h3 Hayratlanarli ekskursiya
                    p Lorem ipsum duble some live dolor sit amet consectetur.
                .inMot 
                    .inLog 
                        img(src="../assets/icon/mot.png", alt="daraxt")
                        .scroll
                    h3 Hayratlanarli ekskursiya
                    p Lorem ipsum duble some live dolor sit amet consectetur.
                .inCas 
                    .inLog 
                        img(src="../assets/icon/cas.png", alt="daraxt")
                        .scroll
                    h3 Hayratlanarli ekskursiya
                    p Lorem ipsum duble some live dolor sit amet consectetur.
                .inInst
                    .inLog 
                        img(src="../assets/icon/instruktor.png", alt="daraxt")
                        .scroll
                    h3 Hayratlanarli ekskursiya
                    p Lorem ipsum duble some live dolor sit amet consectetur.

            //- departure box start

            .departure 
                h1(class="tit") Oure eparture 
                .dep-box 
                    .dep-left 
                        .line
                        .dep-info 
                            .price 
                                h1 БАЗАВЫЙ
                                h3 ОТ 4000 
                                <i class="fa-solid fa-ruble-sign"></i>
                                br

                            .time 
                                span 
                                    <i class="fa-solid fa-clock"></i>
                                    p vremya v puti: 
                                        strong  1.5-2 часа
                                span 
                                    <i class="fa-solid fa-location-dot"></i>
                                    p   rastayana: 
                                        strong 20-25 km
                                span 
                                    <i class="fa-solid fa-star"></i>
                                    p slojnost:5
                            
                            .location 
                                h3 MASHRUT 
                                img(src="../assets/icon/ikonka.png", alt="location")
                                br
                                br
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, doloremque!
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, incidunt.

                            .dep-btn
                                a(href="#") podrobniy 
                                a(href="#") zabronirovat  

                    .dep-right 
                        .img-box
                            img(src="../assets/img/1.png", alt="mot")
                            img(src="../assets/img/2.png", alt="moto" class="img2")

                        .dots 
                            .dot
                            .dot 
                            .dot 
                            .dot-line
                            p scroll
                .dep-box 
                  
                    .dep-right 
                        .img-box
                            img(src="../assets/img/2.1.png", alt="moto" class="img2")
                            img(src="../assets/img/2.2.png", alt="mot")
                        .rig     
                            .dots2 
                                .dot
                                .dot 
                                .dot 
                                .dot-line
                                p scroll

                    .dep-left 
                            .line
                            .dep-info 
                                .price 
                                    h1 РАСШИРЕНЫЙ
                                    h3 ОТ 16000 
                                    <i class="fa-solid fa-ruble-sign"></i>
                                    br

                                .time 
                                    span 
                                        <i class="fa-solid fa-clock"></i>
                                        p vremya v puti: 
                                            strong 6-8 часа
                                    span 
                                        <i class="fa-solid fa-location-dot"></i>
                                        p   rastayana: 
                                            strong 20-25 km
                                    span 
                                        <i class="fa-solid fa-star"></i>
                                        p slojnost:5
                                
                                .location 
                                    h3 MASHRUT 
                                    img(src="../assets/icon/ikonka.png", alt="location")
                                    br
                                    br
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, doloremque!
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, incidunt.


                                .dep-btn
                                    a(href="#") podrobniy 
                                    a(href="#") zabronirovat  

                .dep-box 
                    .dep-left 
                        .line
                        .dep-info 
                            .price 
                                h1 EXPERIENCE
                                h3 ОТ 7000 
                                <i class="fa-solid fa-ruble-sign"></i>
                                br

                            .time 
                                span 
                                    <i class="fa-solid fa-clock"></i>
                                    p vremya v puti; 1,5-2 chasa
                                span 
                                    <i class="fa-solid fa-location-dot"></i>
                                    p   rastayana: 
                                        strong 20-25 km
                                span 
                                    <i class="fa-solid fa-star"></i>
                                    p slojnost:5
                            
                            .location 
                                h3 MASHRUT 
                                img(src="../assets/icon/ikonka.png", alt="location")
                                br
                                br
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, doloremque!
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, incidunt.

                            .dep-btn
                                a(href="#") podrobniy 
                                a(href="#") zabronirovat  

                    .dep-right 
                        .img-box
                            img(src="../assets/img/3.1.png", alt="mot")
                            img(src="../assets/img/3.2.png", alt="moto" class="img2")

                        .dots 
                            .dot
                            .dot 
                            .dot 
                            .dot-line
                            p scroll


            .about-loc 
                h1 Затрудняутесь выбрат маршрут?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. In praesentium commodi 
                button 
                    a(href="#")
                        p Начать тест   

            .foto-scrol 
                h1 FOTO 
                .f-scrol
                    img(src="../assets/img/f1.jfif", alt="f")
                    img(src="../assets/img/f2.jfif", alt="f")
                    img(src="../assets/img/f3.jfif", alt="f")
                .dots 
                    .dot
                    .dot 
                    .dot 
                    .dot-line
                    p scroll

            .video-box 
                .v-box 
            
                    <i class="fa-duotone fa-solid fa-circle-play"></i>
                    

